*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: Comic Sans MS;
  size: 75%;
}

.row {
  width: 100%;
}

p {
  font-family: Comic Sans MS, Arial, sans-serif;
  background-color: grey;
  overflow: hidden;
  height: 150px;
  margin-right: 10px;
  border: 1px solid black;
  padding: 35px 10px 5px 10px;
  
}


#container {
  position: relative;
}

#p1 {
  background-color: #D53F55;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p2 {
  background-color:#CCE579 ;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 120px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p3 {
 background-color: #11182A;
 color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 120px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
    .col-lg-4 {
    width: 33.33%;
  }
  
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
   
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }

  
}